In [1]:
import pandas as pd
from datetime import datetime

json_file_path = 'C:\\Users\\kasun\\Downloads\\yelp\\data\\yelp_academic_dataset_user.json'

# Create a generator to read the JSON file in chunks
def read_json_chunked(path, chunk_size=1000):
    with open(path, 'r', encoding='utf-8') as file:
        for chunk in pd.read_json(file, lines=True, chunksize=chunk_size):
            yield chunk

df = pd.DataFrame()

# Iterate through the chunks and drop the 'friends' column
for chunk in read_json_chunked(json_file_path):
    # Drop the 'friends' column if it exists
    if 'friends' in chunk.columns:
        chunk = chunk.drop(columns=['friends'])

    df = pd.concat([df, chunk], ignore_index=True)

print(df)

                        user_id     name  review_count        yelping_since  \
0        qVc8ODYU5SZjKXVBgXdI7w   Walker           585  2007-01-25 16:47:26
1        j14WgRoU_-2ZE1aw1dXrJg   Daniel          4333  2009-01-25 04:35:42
2        2WnXYQFK0hXEoTxPtV2zvg    Steph           665  2008-07-25 10:41:00
3        SZDeASXq7o05mMNLshsdIA     Gwen           224  2005-11-29 04:38:33
4        hA5lMy-EnncsH4JoR-hFGQ    Karen            79  2007-01-05 19:40:59
...                         ...      ...           ...                  ...
1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold            23  2015-01-06 00:31:31
1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane             1  2016-06-14 07:20:52
1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari             4  2017-02-04 15:31:58
1987895  ulfGl4tdbrH05xKzh5lnog  Susanne             2  2011-01-14 00:29:08
1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa             2  2020-12-19 02:32:39

         useful  funny   cool  \
0          7217   1259   5994
1         43091  13066  27281
2          2086   1010   1003
3           512    330    299
4            29     15      7
...         ...    ...    ...
1987892       7      0      0
1987893       0      0      0
1987894       1      1      0
1987895       0      0      0
1987896       0      0      0

                                                     elite  fans  \
0                                                     2007   267
1        2009,2010,2011,2012,2013,2014,2015,2016,2017,2...  3138
2                                 2009,2010,2011,2012,2013    52
3                                           2009,2010,2011    28
4                                                              1
...                                                    ...   ...
1987892                                                        0
1987893                                                        0
1987894                                                        0
1987895                                                        0
1987896                                                        0

         average_stars  ...  compliment_more  compliment_profile  \
0                 3.91  ...               65                  55
1                 3.74  ...              264                 184
2                 3.32  ...               13                  10
3                 4.27  ...                4                   1
4                 3.54  ...                1                   0
...                ...  ...              ...                 ...
1987892           4.92  ...                0                   0
1987893           5.00  ...                0                   0
1987894           2.00  ...                0                   0
1987895           3.00  ...                0                   0
1987896           5.00  ...                0                   0

         compliment_cute  compliment_list  compliment_note  compliment_plain  \
0                     56               18              232               844
1                    157              251             1847              7054
2                     17                3               66                96
3                      6                2               12                16
4                      0                0                1                 1
...                  ...              ...              ...               ...
1987892                0                0                0                 0
1987893                0                0                0                 0
1987894                0                0                0                 0
1987895                0                0                0                 0
1987896                0                0                0                 0

         compliment_cool  compliment_funny  compliment_writer  \
0                    467               467                239
1                   3131              3131               1521
2                    119               119                 35
3                     26                26                 10
4                      0                 0                  0
...                  ...               ...                ...
1987892                0                 0                  0
1987893                0                 0                  0
1987894                0                 0                  0
1987895                0                 0                  0
1987896                0                 0                  0

         compliment_photos
0                      180
1                     1946
2                       18
3                        9
4                        0
...                    ...
1987892                  0
1987893                  0
1987894                  0
1987895                  0
1987896                  0

[1987897 rows x 21 columns]

In [2]:
df.to_csv('C:\\Users\\kasun\\Downloads\\yelp\\data\\yelp_academic_dataset_user.csv')

In [3]:
data = df

In [4]:
data['elite_years'] = data['elite'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) and str(x).strip() else 0)

In [6]:
data

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,fans,average_stars,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,elite_years
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,267,3.91,...,55,56,18,232,844,467,467,239,180,1
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3138,3.74,...,184,157,251,1847,7054,3131,3131,1521,1946,14
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013",52,3.32,...,10,17,3,66,96,119,119,35,18,5
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011",28,4.27,...,1,6,2,12,16,26,26,10,9,3
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,1,3.54,...,0,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,0,4.92,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,0,5.00,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,0,2.00,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,0,3.00,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,0,5.00,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data.drop(columns=['elite'], inplace=True)

In [8]:
data['yelping_since'] = pd.to_datetime(data['yelping_since'])

In [9]:
data['is_elite'] = data['elite_years'].apply(lambda x: 1 if x>0 else 0)

In [10]:
from datetime import datetime
current_date = datetime.now()
data['years_on_platform'] = (current_date - data['yelping_since']).dt.days // 365

In [11]:
data.drop(columns=['yelping_since'], inplace=True)

In [12]:
data

,user_id,name,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,...,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,elite_years,is_elite,years_on_platform
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,7217,1259,5994,267,3.91,250,65,...,18,232,844,467,467,239,180,1,1,16
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,43091,13066,27281,3138,3.74,1145,264,...,251,1847,7054,3131,3131,1521,1946,14,1,14
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2086,1010,1003,52,3.32,89,13,...,3,66,96,119,119,35,18,5,1,15
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,512,330,299,28,4.27,24,4,...,2,12,16,26,26,10,9,3,1,18
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,29,15,7,1,3.54,1,1,...,0,1,1,0,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,7,0,0,0,4.92,0,0,...,0,0,0,0,0,0,0,0,0,8
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,0,0,0,0,5.00,0,0,...,0,0,0,0,0,0,0,0,0,7
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,1,1,0,0,2.00,0,0,...,0,0,0,0,0,0,0,0,0,6
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,0,0,0,0,3.00,0,0,...,0,0,0,0,0,0,0,0,0,12
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,0,0,0,0,5.00,0,0,...,0,0,0,0,0,0,0,0,0,2

In [13]:
data.to_csv('C:\\Users\\KasunAbeyweera\\Downloads\\yelp\\yelp_dataset\\yelp_academic_dataset_user_preprocessed.csv')